header {
    background-color:rgb(241, 241, 240);
    padding-top: 30px;
    padding-bottom: 30px;
}
.centralizar-cabecalho {
    position: relative;
    width: 1800px; /* largura padrão */ 
    margin: 0 30px auto;
}

.titulo-cabecalho {
    text-transform: uppercase; /*colocando texto em maiusculo*/
    color: rgb(192, 104, 104);
    font-size: 35px;
    text-decoration: underline; /*colocando sublinhado*/

    position: absolute;
    top: 100px; /*posição de altura*/
    left: 270px; /*posição da distancia da imagem*/
}

nav { /*posicionando meu texto*/
    position: absolute;
    top: 200px;
    right: 0px;
}

nav li {
    display: inline; /*colocar os elementos de uma lista em horizontal*/
    margin: 0 0 0 20px; /*alterando espaçamento entre um link e outro*/
}

nav a {
    text-transform: uppercase; /*colocando texto em maiusculo*/
    color: rgb(192, 104, 104);
    font-size: 20px;
    text-decoration: none; /*tirando sublinhado que estava como padrão*/

}