body {
    background-color: rgb(241, 241, 240);
}

h1 {
    text-transform: uppercase;
    color: rgb(192, 104, 104);
    font:unset;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

/*definir tamanho das imagens dos cards

Image {
    max-width: 100px;
    max-height: 50px;
}*/

.cards{
    width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}

.cards li{
    /*alinhamento*/
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    background-color: white;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    /*borda e background*/
    background-color: rgb(241, 241, 240);
    border-color: rgb(192, 104, 104);
    border-width: 3px;
    border-style: solid;
}

/*hover agindo no h2 -- descobrir uma forma de agir na li de cada card*/
.cards :hover {
    color: rgb(128, 69, 69);
}

.cards h2{
    font:unset;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    color: rgb(192, 104, 104);
}

.tempo-preparo{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(124, 124, 124);
}